<!-- Page header -->
<ion-header>
  <ion-toolbar>
    <ion-title>BP</ion-title>
    <ion-buttons end>
      <button (click)="openModal()" ion-button icon-only color="royal">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<!-- Page content -->
<ion-content>

  <!-- Chart -->
  <div class="chart" *ngIf="!dataLoading">
    <canvas baseChart height="300"
      [datasets]="lineChartData"
      [labels]="lineChartLabels"
      [options]="lineChartOptions"
      [colors]="lineChartColors"
      [legend]="lineChartLegend"
      [chartType]="lineChartType">
    </canvas>
  </div>

  <!-- List -->
  <ion-list>
    <ion-item ion-item *ngFor="let reading of readings$ | async">
      {{ reading.date | date: "MMM d, yyy - h:mm" }} : {{ reading.systolic }}/{{ reading.diastolic }}
    </ion-item>
  </ion-list>

</ion-content>
